<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Site Blocker Options</title>
		<link rel="stylesheet" type="text/css" href="/dist/app.css">
		<link rel="stylesheet" type="text/css" href="/dist/settings.css">
	</head>
	<body>
		<main>
			<div>
				<header>
					<h1>Settings</h1>
					<h2>Blocked Sites</h2>	
				</header>

				
				<div>
					<button id="add-site-button" class="primary">Add</button>
				</div>

				<ul class="block-list">
					<li class="block-list-item" data-url="facebook.com">
						<span>facebook.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="instagram.com">
						<span>instagram.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
					<li class="block-list-item" data-url="tiktok.com">
						<span>tiktok.com</span>
						<button class="primary">Remove</button>
					</li>
				</ul>
			</div>	
		</main>
		<script src="/src/settngs.js" type="module"></script>
	</body>

	<footer>
		<span>&copy; Made by <a href="https://www.colinkiama.com">Colin Kiama</a> - 2021</span>
	</footer>
</html>