@use '../abstracts/colors';
@use "../base/typography";

// Universal
$border-radius: 0.125rem;
$primary-padding: 0.5rem 2.5rem;
$secondary-padding: 0.5rem;

// Light variables
$light-primary-background: colors.$dark-gray;
$light-primary-foreground: colors.$white;
$light-primary-background-hover: colors.$gray;
$light-secondary-foreground: colors.$dark-gray;
$light-secondary-foreground-hover: colors.$gray;

// Dark Variables
$dark-primary-background: colors.$white;
$dark-primary-foreground: colors.$dark-gray;
$dark-primary-background-hover: colors.$gray;
$dark-secondary-foreground: colors.$white;
	

button.primary,
button.secondary {
	@extend h3;
}

button.primary {
	background: $light-primary-background;
	color: $light-primary-foreground;
	border-radius: $border-radius;
	padding: $primary-padding;

	&:hover, &:focus {
		background: $light-primary-background-hover;
	}

	@media (prefers-color-scheme: dark) {
		background: $dark-primary-background;
		color: $dark-primary-foreground;
	}
}

button.secondary {
	background: transparent;
	color: $light-secondary-foreground;
	padding: $secondary-padding;

	&:hover, &:focus  {
		color: $light-secondary-foreground-hover;
	}

	@media (prefers-color-scheme: dark) {
		color: $dark-secondary-foreground;
	}
}




