@use "../abstracts/colors";

// Universal variables

// Light variables
$light-foreground: colors.$dark-gray;
$light-foreground-hover: colors.$medium-gray;

// Dark variables
$dark-foreground: colors.$white; 
$dark-foreground-hover: colors.$gray;

a {
	color: $light-foreground;

	&:hover {
		color: $light-foreground-hover;
	}


	@media (prefers-color-scheme: dark) {
		color: $dark-foreground;

		&:hover {
			color: $dark-foreground-hover;
		}

	}
}