@use "../layout/grid";
main {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
	padding-top: 2.5rem;

	@media (min-width: 800px) {
		padding-top: 5rem;
		align-items: center;	
	}
}

header {
	@extend %container;
}

main > div {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
}

main > div > div:first-of-type {
	@extend %container;
}

.block-list	 {
	@extend %container;
	display: flex;
	flex-direction: column;
	flex: 1 1 0px;
	margin-top: 1rem;
	
	@media (min-width: 800px) {
		width: 43.75rem;
	}
}




	

